<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script type="text/javascript" src="/cm/pki/CC_WSTD_home/unisignweb/framework/json2.js"></script>
    <script type="text/javascript" src="/cm/pki/CC_WSTD_home/install/ObjectInstall.js"></script>
    <script type="text/javascript" charset="utf-8" src="/cm/pki/CC_WSTD_home/unisignweb/js/unisignwebclient.js?v=1&amp;postfix=15185148542609911.260910206423" ></script>

    <script type="text/javascript" charset="utf-8" src="/cm/pki/ccc-sample-wstd/UniSignWeb_Multi_Init_Nim.js?v=1&amp;postfix=15185148542603323.9323272022793" ></script>
    <script type="text/javascript" src="/cm/pki/webtoapp/UniSignW2AUtil.js"></script>
    <script type="text/javascript" src="/cm/pki/webtoapp/UniSignW2AExtension.js"></script>

    <script type="text/javascript" charset="utf-8" src="https://kcloud.kangwon.ac.kr/websquare/externalJS/jquery/jquery-1.10.2.min.js" ></script>
    <script type="text/javascript" charset="utf-8" src="https://kcloud.kangwon.ac.kr/cm/js/module.js" ></script>
    <script type="text/javascript">
        login = function() {
            var param = {};
            param.USER_ID = "201513501"
            param.USER_PWD = "guneka1346!"
            param.SQL_NAMESPACE = "ssm01.ssm01001";
            param.SQL_ID =  "loginProcess";

            // 접속 후 특정 화면 바로가기.
            param.DIRECT_MENU_CD = "";

            if(commUtil.isNull(param.USER_ID )) {
                alert("아이디를 입력해주세요.");
                return;
            }
            if(commUtil.isNull(param.USER_PWD )) {
                alert("패스워드를 입력해주세요.");
                return;
            }

            commUtil.ajax({
                url: "https://kcloud.kangwon.ac.kr/account/login",
                type: "jsnop",
                jdbc : "CommAction",
                data: param,
                success: function (res) {
                    if (res.resultCode == "0000") {
                        commUtil.ajax({
                            method : "post",
                            jdbc : "CommAction",
                            async : false,
                            url : "https://kcloud.kangwon.ac.kr/data/ssm01.ssm01001/insertLoginLog",
                            data : {
                                USER_ID : param.USER_ID,
                                LOGIN_SG_YN : '1',
                                LOGIN_BANGBEOP_CD : 'com002001'
                            }
                        });
                        if(returnUrl) {
                            location.href = returnUrl + "?pni_token="+commUtil.getSessionInfo().pni_token;
                        } else {
                            // 접속 후 특정 화면 바로가기. : 정상 로그인(res.resultCode == "0000") 일때 최초오픈 확인 처리. => #directChange
                            if(commUtil.isNull(param.DIRECT_MENU_CD )) location.href = dest;
                            else location.href = dest+"#directChange";
                        }

                    } else if (res.resultCode == "error_login_duplicate") {
                        commUtil.alert("이미 접속중인 사용자입니다.");
                    } else {

                        if(res.resultCode == "1141") {
                            commUtil.ajax({
                                method : "post",
                                jdbc : "CommAction",
                                async : false,
                                url : "/data/ssm01.ssm01001/insertLoginLog",
                                data : {
                                    USER_ID : param.USER_ID,
                                    LOGIN_SG_YN : '1',
                                    LOGIN_BANGBEOP_CD : 'com002001'
                                }
                            });
                            commUtil.alert(res.resultMsg);
                            if(returnUrl) {
                                location.href = returnUrl + "?pni_token="+commUtil.getSessionInfo().pni_token;
                            } else {
                                location.href = dest+"#requiredChange";
                            }
                        } else {
                            commUtil.ajax({
                                method : "post",
                                jdbc : "CommAction",
                                async : false,
                                url : "/data/ssm01.ssm01001/insertLoginLog",
                                data : {
                                    USER_ID : param.USER_ID,
                                    LOGIN_SG_YN : '0',
                                    LOGIN_SP_SY : res.resultMsg,
                                    LOGIN_SP_SY_CD : res.resultCode,
                                    LOGIN_BANGBEOP_CD : 'com002001'
                                }
                            });
                            commUtil.alert(res.resultMsg);
                        }
                    }
                }
            });
        }
    </script>
</head>
<body>
<input type="button" onclick="login()" tabindex="0" id="btn_Login" class="w2trigger btn_login" value="아이디 로그인">
</body>
</html>